<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default btn-lg" ng-click="back()">Back</button>
        <form class="form-inline">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       ng-model="player.name">
            </div>
            <button class="btn btn-default"
                    ng-disabled="createIsDisabled()" ng-click="create()">Create</button>
        </form>
    </div>
</div>